* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
}


.header1 {
    background-color: black;
    padding: 13px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-box {
    position: relative;
    /* width: 300px; */
}

.search-box input {
    border: none;
    outline: none;
    background-color: black;
    padding: 10px 30px;
    font-size: 13px;
    color: white;
    font-family: lato-light, lato, sans-serif;
}

.icon {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-54%);
    font-size: 13px;
}

.search-box input::placeholder {
    color: white;
}


.search-box input:hover {
    border-bottom: 2px solid white;
}

.promoCode p {
    color: white;
    font-size: 15px;
}

.socials {
    font-size: 18px;
    display: flex;
    gap: 1em;
}

/* media query for first header */

@media(max-width:769px) {
    .search-box {
        display: none;
    }
}

@media(max-width:468px) {
    .socials {
        display: none;
    }

    .promoCode p {
        color: white;
        font-size: 14px;
    }
}


/* hidden search bar */
.search-hidden {
    position: fixed;
    width: 100%;
    background-color: white;
    top: 0;
    height: 100vh;
}

.search-wrapper {
    padding: 20px 100px;
}

.close-mark {
    display: flex;
    justify-content: end;
}

.fa-xmark {
    font-size: 28px;
}

.search-wrapper input {
    border: none;
    outline: none;
    background-color: white;
    padding: 10px 30px;
    width: 90%;
    font-size: 13px;
    color: black;
    border-bottom: 1px solid grey;
    font-family: lato-light, lato, sans-serif;
}

.search-wrapper h1 {
    font-size: 18px;
    font-weight: 500;
    color: black;
    margin-bottom: 25px;
    text-align: center;
}


/* search bar media query */
@media (max-width: 570px) {
    .search-wrapper {
        padding: 20px 40px;
    }
}


#searchBar {
    display: none;
}
